@{
    ViewData["Title"] = "About";
}

<h2>About SampleApplication</h2>

<dl>
    <dt>Author</dt>
    <dd>Manuel Rauber</dd>

    <dt>Speaker Deck</dt>
    <dd>
        <a href="https://speakerdeck.com/manuelrauber/cross-plattform-serveranwendungen-mit-asp-dot-net-core" target="_blank">
            Cross-Plattform-Serveranwendungen mit ASP.NET Core
        </a>
    </dd>
    
    <dt>GitHub-Repository</dt>
    <dd>
        <a href="https://github.com/thinktecture/dotnet-summit-2017-asp-dot-net-core">
            https://github.com/thinktecture/dotnet-summit-2017-asp-dot-net-core
        </a> 
    </dd>
</dl>