@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to the SampleApplication</h2>

<p>
    Welcome to the SampleApplication, which will be used to create a little MVC-based (Razor and Web API) application
    for a getting started with <a href="https://docs.microsoft.com/en-us/aspnet/core/" target="_blank">ASP.NET Core</a>.
    The application will define a customer model, which will be used for some CRUD operations.
    The operations will be done either in memory or by using EntityFramework Core to access a MSSQL or Postgres Database.
    Take a look into the <code>Startup.cs</code> file for changing which service will be used.
    By default, it will use the in memory model, so no database is required for just trying it out.
</p>